<h1 class="text-center mb-2 mt-4">Nuestros Héroes</h1>

  <div class="card-columns">
    <!-- creamos una variable local 'heroelocal' y traemos nuestro arreglo del componente heroes.components.ts 'heroesods' -->
    <div class="card" *ngFor="let heroelocal of heroesdos; let i =index">
      <img  class="card-img-top" [src]="heroelocal.img" [alt]="heroelocal.nombre">
      <div class="card-body">
        <h5 class="card-title">{{heroelocal.nombre}}</h5>
        <p class="card-text">{{heroelocal.bio}}</p>
      </div>
       <button (click)="verHeroe(i)"
       type="button" class="btn btn-outline-primary btn-block">
        Ver más..
      </button>
      <!-- <a [routerLink]="['/heroe',i]" class="btn btn-primary btn-block">Ver más link</a> -->
    </div>
  </div>
